


#formDiv{
    margin: 7% 15%;
}

#cardDiv{
    margin: 30px;
}
.disDiv{
    /* display: inline-flex;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row; */
    display: inline-flex;
    flex-wrap:wrap;
    flex-direction: column;
    overflow: scroll;
    height: 100vh;
}
